#ifndef ENV_HPP
#define ENV_HPP

/// Network ///
const char *ENV_SSID = "YOUR_SSID";
const char *ENV_PASS = "YOUR_PASS";
const char *ENV_WSURL = "YOUR_WS_URL";

/// User data ///
const char *ENV_AUTHORS[] = {};              // Array of strings of authors of tranasctions
const int ENV_KINDS[] = {1112};              // Kind of event to listen
const char *ENV_PUBKEYS[] = {"YOUR_PUBKEY"}; // Array of strings of public keys of authors
const unsigned int ENV_UNTIL = 1731196800;   // Since time to listen

#endif